html {
  background: #E5E5E5;
  overflow: auto;
  direction: rtl;
}

body {
  font-family: Segoe UI, sans-serif;
  font-size: 15px;
  background: #E5E5E5;
  color: #333;
}

.sou_login {
  font-size: 13px;
  color: #F44336;
}

form .glyphicon-ok {
  color: #4CAF50;
}

form input,
form select,
form button {
  margin: 5px 0;
}

.block {
  box-shadow: 0 0 8px #B1B1B1;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 50px;
}

.block h1 {
  font-size: 16px;
}